@page "/{Side}/army-lists"
@page "/{Side}/army-lists/{ArmyListName}"
@using MiddleEarth.Builder.Application.Domain
@inject NavigationManager NavigationManager
@inject Context Context
@inject IModalService ModalService
@inject ILogger<ArmyList> Logger

<header>
    <h3>Army List</h3>
    @if (string.IsNullOrEmpty(ArmyListName))
    {
        <EditForm class="d-flex flex-row align-items-center justify-content-center" Model="@_armyListNameForm" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="armyListName" class="form-label m-0 me-2">Name</label>
            <InputText id="armyListName" class="form-control me-2" @bind-Value="_armyListNameForm.Name" />
            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    }
    else
    {
        <h4>@ArmyListName</h4>
    }
</header>
@if (Army != null)
{
    <div class="overflow-auto">
        <div>
            <h5>Army Bonus</h5>
            @foreach (var (rule, i) in Army.ArmyBonuses.Select((r, i) => (r, i)))
            {
                <button @onclick="() => ShowSpecialRuleForm(rule, i)"
                        class="bg-transparent border-0 p-1 text-start">
                    <h6>
                        @rule.FullName
                    </h6>
                    <div class="ms-3">
                        @rule.Rule.Description
                    </div>
                </button>
            }
            <button @onclick="() => ShowSpecialRuleForm()"
                    class="btn btn-primary w-100 p-0">
                +
            </button>
        </div>
        <div>
            <h5>Heroes</h5>
            @foreach (var (hero, i) in Army.Heroes.Select((r, i) => (r, i)))
            {
                <button @onclick="() => ShowHeroForm(hero, i)"
                        class="bg-transparent border-0 p-1 text-start">
                    <h6>
                        @($"{hero.Name} ({hero.Cost}p)")
                    </h6>
                    <div>
                        @string.Join(", ", hero.Keywords)
                    </div>
                </button>
            }
            <button @onclick="() => ShowHeroForm()"
                    class="btn btn-primary w-100 p-0">
                +
            </button>
        </div>
        <div>
            <h5 class="mt-2">Warriors</h5>
            @foreach (var (warrior, i) in Army.Warriors.Select((r, i) => (r, i)))
            {
                <button @onclick="() => ShowWarriorForm(warrior, i)"
                        class="bg-transparent border-0 p-1 text-start">
                    <h6>
                        @($"{warrior.Name} ({warrior.Cost}p)")
                    </h6>
                    <div>
                        @string.Join(", ", warrior.Keywords)
                    </div>
                </button>
            }
            <button @onclick="() => ShowWarriorForm()"
                    class="btn btn-primary w-100 p-0">
                +
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? ArmyListName { get; set; }

    [Parameter]
    public string? Side { get; set; }
    private Side SideEnum => Enum.TryParse<Side>(Side ?? string.Empty, true, out var side) ? side : Application.Domain.Side.Undefined;

    private Application.Domain.ArmyList? Army { get; set; }

    private readonly ArmyListNameForm _armyListNameForm = new();

    protected override async Task OnParametersSetAsync() => await LoadAsync();

    protected override async Task OnInitializedAsync() => await LoadAsync();

    private async Task LoadAsync()
    {
        if (string.IsNullOrEmpty(ArmyListName) || Army?.Name == ArmyListName)
            return;

        Army = Context.GetOrCreateArmyList(ArmyListName);
        Army.Side = SideEnum;
    }

    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo(RouteProvider.GetArmyListRoute(SideEnum, _armyListNameForm.Name));
    }

    private class ArmyListNameForm
    {
        public string Name { get; set; } = string.Empty;
    }

    private async Task ShowSpecialRuleForm(ProfileSpecialRule? source = null, int? idx = null)
    {
        var data = await ShowForm<ProfileSpecialRule, ProfileSpecialRuleForm>(
            "Add army bonus",
            source ?? new ProfileSpecialRule(),
            Army!.ArmyBonuses, idx);
        if (data is { Rule.Name: { } })
        {
            var rule = Context.GetOrCreateSpecialRule(data.Rule.Name);
            rule.Description = data.Rule.Description;
        }
    }

    private Task ShowHeroForm(HeroProfile? source = null, int? idx = null) =>
        ShowForm<HeroProfile, HeroProfileForm>(
            "Add hero profile",
            source ?? new HeroProfile(Army!, "", Tier.IndependentHero),
            Army!.Heroes, idx);

    private Task ShowWarriorForm(WarriorProfile? source = null, int? idx = null) =>
        ShowForm<WarriorProfile, WarriorProfileForm>(
            "Add warrior profile",
            source ?? new WarriorProfile(Army!, ""),
            Army!.Warriors, idx);

    private async Task<T?> ShowForm<T, TFormComponent>(string title, T source,
        IList<T> list, int? idx)
     where T : class where TFormComponent : IComponent
    {
        ArgumentNullException.ThrowIfNull(Army);

        var parameters = new ModalParameters { { "Model", source } };
        var reference = ModalService.Show<TFormComponent>(title, parameters);
        var result = await reference.Result;
        if (result is { Confirmed: true, Data: T data })
        {
            if (idx != null)
                list[idx.Value] = data;
            else
                list.Add(data);

            return data;
        }
        if (result.Confirmed)
            Logger.LogError("Wrong Data type.");
        else
            Logger.LogDebug("Result is not confirmed.");

        return null;
    }
}