@using MiddleEarth.Builder.Application.Domain
<EditForm Model="@Model" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label m-0 me-2">Name</label>
        <InputText id="name" class="form-control me-2" @bind-Value="Model.Name" />
    </div>
    <div class="mb-3">
        <label for="keywords" class="form-label m-0 me-2">Keywords</label>
        <InputText id="keywords" class="form-control me-2" @bind-Value="Model.KeywordsString" />
    </div>
    <div class="mb-3">
        <label for="keywords" class="form-label m-0 me-2">Tier</label>
        <InputSelect @bind-Value="Model!.TierEnum">
            <option value="@TierEnum.HeroOfLegend">@Tier.HeroOfLegend.Name</option>
            <option value="@TierEnum.HeroOfValour">@Tier.HeroOfValour.Name</option>
            <option value="@TierEnum.HeroOfFortitude">@Tier.HeroOfFortitude.Name</option>
            <option value="@TierEnum.MinorHero">@Tier.MinorHero.Name</option>
            <option value="@TierEnum.IndependentHero">@Tier.IndependentHero.Name</option>
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public HeroProfile Model { get; set; }

    private async Task SubmitForm() =>
        await BlazoredModal.CloseAsync(ModalResult.Ok(Model));

}