@using MiddleEarth.Builder.Application.Files
@using MiddleEarth.Builder.Application.Configuration
@using Microsoft.Extensions.Options
@inject ContextImporter Importer
@inject Context Context
@inject IOptions<ServiceOptions> Options
@inject ILogger<Import> Logger

<lead>When you confirm loading files, all data in the application will be overriden until you close the browser or refresh the page.</lead>
<EditForm Model="@_model" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputFile class="btn btn-link text-inherit" OnChange="@ImportData"><i class="bi bi-cloud-arrow-up"></i> load</InputFile>
    @if (_contextRaw != null)
    {
        <table>
            <tr>
                <td>Equipment: </td>
                <td>@_model.Equipments</td>
                <td>@($"(currently: {_model.LoadedEquipments})")</td>
            </tr>
            <tr>
                <td>Special Rules: </td>
                <td>@_model.SpecialRules</td>
                <td>@($"(currently: {_model.LoadedSpecialRules})")</td>
            </tr>
            <tr>
                <td>Heroic Actions: </td>
                <td>@_model.HeroicActions</td>
                <td>@($"(currently: {_model.LoadedHeroicActions})")</td>
            </tr>
            <tr>
                <td>Magical Powers: </td>
                <td>@_model.MagicalPowers</td>
                <td>@($"(currently: {_model.LoadedMagicalPowers})")</td>
            </tr>
            <tr>
                <td>Army Lists: </td>
                <td>@_model.ArmyLists</td>
                <td>@($"(currently: {_model.LoadedArmyLists})")</td>
            </tr>
            <tr>
                <td>Armies: </td>
                <td>@_model.Armies</td>
                <td>@($"(currently: {_model.LoadedArmies})")</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Load</button>
    }
</EditForm>

@code {
    private ContextRaw? _contextRaw;
    private readonly Model _model = new();

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override Task OnInitializedAsync()
    {
        BlazoredModal.Title = "Load data";
        _model.Initialize(Context);

        return base.OnInitializedAsync();
    }

    private async Task ImportData(InputFileChangeEventArgs e)
    {
        Logger.LogInformation("File {name} of size {size} kB imported.", e.File.Name, e.File.Size / 1024);
        _contextRaw = await Importer.GetFromStream(e.File.OpenReadStream(Options.Value.MaxFileUploadSize), CancellationToken.None);
        _model.Update(_contextRaw);
    }

    private async Task SubmitForm()
    {
        ArgumentNullException.ThrowIfNull(_contextRaw);
        await Context.LoadAsync(_contextRaw);
        await BlazoredModal.CloseAsync(ModalResult.Ok(Context));
    }

    private class Model
    {
        public int Equipments { get; private set; }
        public int SpecialRules { get; private set; }
        public int HeroicActions { get; private set; }
        public int MagicalPowers { get; private set; }
        public int ArmyLists { get; private set; }
        public int Armies { get; private set; }

        public int LoadedEquipments { get; private set; }
        public int LoadedSpecialRules { get; private set; }
        public int LoadedHeroicActions { get; private set; }
        public int LoadedMagicalPowers { get; private set; }
        public int LoadedArmyLists { get; private set; }
        public int LoadedArmies { get; private set; }

        public Model() { }

        public void Update(ContextRaw raw)
        {
            Equipments = raw.Equipments?.Length ?? 0;
            SpecialRules = raw.SpecialRules?.Length ?? 0;
            HeroicActions = raw.HeroicActions?.Length ?? 0;
            MagicalPowers = raw.MagicalPowers?.Length ?? 0;
            ArmyLists = raw.ArmyLists?.Length ?? 0;
            Armies = raw.Armies?.Length ?? 0;
        }

        public void Initialize(Context context)
        {
            LoadedEquipments = context.Equipments.Count;
            LoadedSpecialRules = context.SpecialRules.Count;
            LoadedHeroicActions = context.HeroicActions.Count;
            LoadedMagicalPowers = context.MagicalPowers.Count;
            LoadedArmyLists = context.ArmyLists.Count;
            LoadedArmies = context.Armies.Count;
        }
    }
}
